<!-- fluid app aside -->
        <div class="left navside dk" layout="column" >
            <div class="navbar cross-nav">
                <!-- brand -->
                <a href="" class="navbar-brand">
                    <img src="assets/images/logo.png" alt="crossdottr logo">
                </a>
                <!-- / brand -->
            </div>
            <div id="side-bar" flex>
                <a class="btn navbar-btn success" href="/#!/create-contract"><i class="fa fa-pencil" aria-hidden="true"></i> New Document</a>
                <nav class="scroll nav-light">
                    <ul class="nav" ui-nav>
                        <li>
                            <a href="/#!/activity">
                                <span class="nav-icon">
                      <svg class="nc-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 48 48"><g transform="translate(0, 0)"> <polyline data-cap="butt" fill="none" stroke="#464e54" stroke-width="3" stroke-miterlimit="10" points="8,18.5 8,44 20,44 20,34 28,34 28,44 40,44 40,18.5 " stroke-linejoin="round" stroke-linecap="round"></polyline> <polyline data-cap="butt" data-color="color-2" fill="none" stroke="#464e54" stroke-width="3" stroke-miterlimit="10" points="2,24 24,4 46,24 " stroke-linejoin="round" stroke-linecap="round"></polyline>  </g></svg>
                    </span>
                                <span class="nav-text">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="/#!/contracts/all">
                                <span class="nav-icon">
                      <i class="fa fa-folder-o" aria-hidden="true"></i>
                    </span>
                                <span class="nav-text">Documents</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="/#!/contracts/all">
                                        <span class="nav-text"><i class="status-icon danger"></i>Inbox <span class="label danger pull-right">9+</span></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/#!/contracts/out-for-signing">
                                        <span class="nav-text"><i class="status-icon success"></i>Waiting for Others</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/#!/contracts/rejected">
                                        <span class="nav-text"><i class="status-icon accent"></i>Archived</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/#!/contracts/draft">
                                        <span class="nav-text"><i class="status-icon warn"></i>Drafts</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">
                                <span class="nav-icon">
                      <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    </span>
                                <span class="nav-text">Templates</span>
                            </a>
                        </li>
                        <li>
                            <a href "">
                                <span class="nav-icon">
                      <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    </span>
                                <span class="nav-text">Reports</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>