<div class="container" id="sign-item">
    <div class="modal fade" role="dialog"
        id="signature-container">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create your electronic signature</h4>
              </div>
              <div class="modal-body">
                <p style="font-size: 13px;"> 
                    Just like a traditional signature, this mark is used by CrossDottr to represent your intent to sign documents.You appear to be located in <strong>Denmark</strong> where electronic signatures are legally binding. <a class="text-primary _500" href="">Read more</a>
                </p>
                <div id="signature-pad" class="m-signature-pad modal-dialog">
                    <div>
                     <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active nav-item">
                            <a class="nav-link" data-target="#type" aria-controls="type" role="tab" data-toggle="tab">
                                Type Signature
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" ng-click='resizeCanvas()' data-target="#draw" aria-controls="draw" role="tab" data-toggle="tab">Draw Signature</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-target="#upload" aria-controls="upload" role="tab" data-toggle="tab">Upload File</a>
                        </li>
                      </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="type"></div>
                            <div role="tabpanel" class="tab-pane" id="draw">
                                <div class="m-signature-pad--body">
                                    <canvas style="display: block;float: left"></canvas>
                                </div>
                                <div class="m-t-sm" style="font-size: 14px;">
                                    <span class="text-muted">Draw your signature above the line</span>
                                    <a class="text-danger pull-right" data-action="clear">
                                        <i class="material-icons">&#xE5CD;</i> Clear Signature
                                    </a>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="upload">
                                <div ngf-drop ng-model="sign.files" ngf-select
                                    accept="image/*"
                                    ngf-drag-over-class="'dragover'" 
                                    style="width: 100%;height: 130px;border: 1px solid #f4f4f4;" 
                                    class="drop-box">Drop</div>
                                <img ng-if='sign.files' ngf-src="sign.files || '/thumb.jpg'" 
                                  style="margin-top: 30px;width: 158px;height: auto;">
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                   <div class="m-signature-pad--footer">
                        <div class="m-t-sm" style="font-size: 14px;text-align: left;">
                            <input type="checkbox" id="agree"> I agree to have this signature legally represent me.
                        </div>
                        <div class="m-t-sm pull-right" style="font-size: 14px;">
                            <button type="button" data-dismiss="modal" 
                            class="button btn btn-default" data-action="close">Cancel</button>
                            <button type="button" class="button save btn btn-primary" data-action="save">Agree & Choose</button>
                        </div>
                    </div>
              </div>
            </div>

          </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 document-header text-center" id="col-final">
            <h6 style="color: white; line-height: 20px;">Almost Done! Click finalize to send the contract :</h6>
            <button type="button" class="btn btn-success" ng-click="signContract()">Finalize</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" ng-click="rejectContract()">Reject</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1" style="width: 100%;margin-left: 0;margin-top: 50px">
            <div class="document-sign">
                <div class="document-content">
                    <img ng-repeat="thumbnail in thumbnails track by $index" src="http://staging-1.crossdottr.com/files/{{thumbnail.name}}" class="img-responsive">
                    <span ng-repeat="filed in fileds track by $index" style="position: absolute; top:{{filed.yOrigin}}px; left: {{filed.xOrigin}}px;border: 1px dashed #5abf5a;">
                        <span ng-if="filed.fieldType == 'SIGNATURE'" 
                            ng-click="showSignaturePad(filed.id)"
                            data-toggle="modal" data-target="#signature-container"
                            id="{{filed.id}}" class="{{filed.fieldType}} sign-holder btn" style="width:{{filed.minWidth}}px;height:{{filed.minHeight}}px; padding:0;">
                            <span style="width:{{filed.minWidth}}px;height:{{filed.minHeight}}px;" ng-if="!utl" id="sign-text">{{filed.fieldType}}</span>
                        <img id="img-tag" src="{{utl}}" ng-if="utl" style="width:{{filed.minWidth}}px;height:{{filed.minHeight}}px;">
                        </span>
                        <input type="text" ng-if="filed.fieldType == 'NAME'" id="{{filed.id}}" ng-blur="saveText(filed.id);" value="{{filed.text}}" ng-readonly="filed.text" style="width:{{filed.minWidth}}px;height:{{filed.minHeight}}px;" placeholder="NAME">
                            
                        <input type="text" ng-if="filed.fieldType == 'FREE_TEXT'" id="{{filed.id}}" ng-blur="saveText(filed.id);" value="{{filed.text}}" ng-readonly="filed.text" style="width:{{filed.minWidth}}px;height:{{filed.minHeight}}px;" placeholder="FREE_TEXT">
                            
                        <input type="text" ng-if="filed.fieldType == 'INITIALS'" id="{{filed.id}}" ng-blur="saveText(filed.id);" value="{{filed.text}}" ng-readonly="filed.text" style="width:{{filed.minWidth}}px;height:{{filed.minHeight}}px;" placeholder="INITIALS">
                            
                        <span ng-if="filed.fieldType == 'FILE_UPLOAD'"
                            style="padding: 9px;color: #85c05a;display: block;" >
                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                            <span style="padding-right: 34px;">Upload your Id</span>
                            <button ng-if='!sign.proof'
                                class="btn btn-success"
                                ng-model="sign.proof" 
                                ngf-select
                                accept="image/*">Choose File...
                            </button>
                            <img ng-if='sign.proof' 
                                 ngf-src="sign.proof" 
                                 style="width: auto;height: 35px;">
                        </span>
                        <input type="text" ng-if="filed.fieldType == 'DATE' " id="{{filed.id}}" ng-blur="saveText(filed.id);" ng-model="filedVal[filed.fieldType]" readonly style="width:{{filed.minWidth}}px;height:{{filed.minHeight}}px;">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="parties.length > 0">
        <div class="col-md-10 m-t-lg m-b-lg col-md-offset-1">
            <ul class="list document-party">
                <h5 class="_100 m-b-md">Document Parties</h5>
                <li class="list-item" ng-repeat="party in parties track by $index">
                    <a herf="" class="list-left">
                        <span class="w-40 avatar text-white blue-grey-100">
                  <span style="text-transform:uppercase;">{{party.user.firstName  | cut:true:1}}{{party.user.lastName  | cut:true:1}}</span>
                        <i class="on b-white bottom"></i>
                        </span>
                    </a>
                    <div class="list-body">
                        <div><a href="">{{party.user.firstName}} {{party.user.lastName}}</a></div>
                        <small class="text-muted text-ellipsis">{{party.role}}</small>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
<div id="success" style="display:none; color: green;font-size: 20px;margin-top: 140px;">
    Successfully signed the contract.
</div>
<div id="reject-message" style="display:none; color: red;font-size: 20px;margin-top: 140px;">
    Rejected the contract.
</div>
