<div class="container" id="sign-item">
    <div class="modal fade" role="dialog"
        id="signature-container">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create your electronic signature</h4>
              </div>
              <div class="modal-body">
                <p style="font-size: 13px;"> 
                    Just like a traditional signature, this mark is used by CrossDottr to represent your intent to sign documents.
                </p>
                <div id="signature-pad" class="m-signature-pad modal-dialog">
                    <div>
                     <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist">
                        <li class="active nav-item" 
                            ng-click="setSignaturePattern('draw')" role="presentation">
                            <!--<a class="nav-link" data-target="#draw" aria-controls="draw" role="tab" data-toggle="tab">Draw Signature</a>-->
                            <a class="nav-link" ng-click='resizeCanvas()' data-target="#draw" aria-controls="draw" role="tab" data-toggle="tab">Draw Signature</a>
                        </li>

                        <li role="presentation" 
                            ng-click="setSignaturePattern('type')"
                            class="nav-item">
                            <a class="nav-link" data-target="#type" aria-controls="type" role="tab" data-toggle="tab">
                                Type Signature
                            </a>
                        </li>
                        
                        <li class="nav-item"
                            ng-click="setSignaturePattern('upload')"
                            role="presentation">
                            <a class="nav-link" data-target="#upload" aria-controls="upload" role="tab" data-toggle="tab">Upload File</a>
                        </li>
                      </ul>
                       <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in" id="type">
                        <div class="row">
                            <div class="form-group col-md-6 col-md-offset-3 m-b-0">
                                <input id="divID" type="text"
                                    style="font-family: {{font}}, cursive;" class="form-control has-value" value="Barrington Russell" placeholder="Your name" ng-model="signame">
                                <canvas id="canvas-type-signature" style="" width="300" height="80" 
                                style="display:none;font-family: {{font}}, cursive;"></canvas>
                            </div>
                        </div>

                        <div class="m-t-md row">
                            <div class="col-md-6" ng-repeat='font in fontList'>
                                <div class="signature-type" style="cursor:pointer;font-family: {{font}}, cursive;" ng-click="setFont(font)" ng-bind="signame | limitTo:20">
                                </div>
                            </div>
                            <div class="m-t-sm" style="font-size: 14px;">
                                <span class="text-muted">Type your signature Above</span>
                                <a class="text-danger pull-right" data-action="cleara"><i class="material-icons">&#xE5CD;</i> Clear Signature</a>
                            </div>
                        </div>
                    </div>

                <!-- Draw Signature -->
                <div role="tabpanel" class="tab-pane fade in active" id="draw">
                    <div id="signature-pad" class="m-signature-pad">
                        <div class="m-signature-pad--body" style="z-index: 9999">
                            <!--<canvas width="100px" height="100px" style="z-index: 9999 !important"></canvas>-->
                            <canvas id="canvas-signature-pad" style="display: block;float: left"></canvas>
                            
                        </div>

                        <div class="m-t-sm" style="font-size: 14px;">
                            <span class="text-muted">Draw your signature above the line</span>
                            <a class="text-danger pull-right" data-action="clear"><i class="material-icons">&#xE5CD;</i> Clear Signature</a>
                        </div>
                    </div>
                </div><!-- End Draw Signature -->

                  <!-- Upload Signature -->
                <div role="tabpanel" class="tab-pane fade in" id="upload">
                
                    <form action="api/dropzone" class="dropzone">
                        <div class="dz-message" ui-jp="dropzone" ui-options="{ url: 'api/dropzone' }" ngf-drop ng-model="sign.files" ngf-select accept="image/*" ngf-drag-over-class="'dragover'">
                          <img id="signature-uploaded" ng-if='sign.files' ngf-src="sign.files || '/thumb.jpg'" 
                          style="margin-top: 10px;width: auto;height: 100px;">
                          <canvas id="canvas-upload-signature" style="" width="300" height="80" 
                                style="display:none;font-family: {{font}}, cursive;"></canvas>
                        <h4 class="m-t-lg m-b">Drop files here or click to upload.</h4>
                        <span class="text-muted block m-b-lg">Maximum file size: <strong>40 MB</strong>. Acceptable file formats: <strong>png</strong>, <strong>jpg</strong>, <strong>jpeg</strong>, <strong>bmp</strong>, <strong>gif</strong></span>
                        </div>
                    </form>
                                     
                </div><!-- End Upload Signature -->

                 
                
                </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                   <div class="m-signature-pad--footer">
                        <div class="m-t-sm" style="font-size: 14px;text-align: left;">
                            <input type="checkbox" id="agree"><label for='agree'> I agree to have this signature legally represent me.</label>
                        </div>
                        <div class="m-t-sm pull-right" style="font-size: 14px;">
                            <button type="button" data-dismiss="modal" 
                            class="button btn btn-default" data-action="close">Cancel</button>
                            <button type="button" class="button save btn btn-primary" data-action="save">Agree & Choose</button>
                        </div>
                    </div>
              </div>
            </div>

          </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 document-header text-center" id="col-final">
            <h6 style="color: white; line-height: 20px;">Almost Done! Click finalize to send the contract :</h6>
            <button type="button" class="btn btn-success" ng-click="signContract()">Finalize</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" ng-click="rejectContract()">Reject</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1" style="width: 100%;margin-left: 0;margin-top: 50px">
            <div class="document-sign">
                <div class="document-content">
                    <img ng-repeat="thumbnail in thumbnails track by $index" src="http://staging-1.crossdottr.com/files/{{thumbnail.name}}" class="img-responsive">
                    <span ng-repeat="filed in fileds track by $index" style="position: absolute; top:{{filed.yOrigin}}px; left: {{filed.xOrigin}}px;border: 1px dashed #5abf5a;">
                        <span ng-if="filed.fieldType == 'SIGNATURE'" 
                            ng-click="showSignaturePad(filed.id)"
                            data-toggle="modal" data-target="#signature-container"
                            id="{{filed.id}}" class="{{filed.fieldType}} sign-holder btn" style="width:250px;height:auto; padding:0;">
                            <span style="width:{{filed.minWidth}}px;height:{{filed.minHeight}}px;" ng-if="!utl" id="sign-text">{{filed.fieldType}}</span>
                        <img id="img-tag" src="{{utl}}" ng-if="utl" style="width:250px;height:auto;">
                        </span>
                        <input type="text" ng-if="filed.fieldType == 'NAME'" id="{{filed.id}}" ng-blur="saveText(filed.id);" value="{{filed.text}}" ng-readonly="filed.text" style="width:{{filed.minWidth}}px;height:{{filed.minHeight}}px;" placeholder="NAME">
                            
                        <input type="text" ng-if="filed.fieldType == 'FREE_TEXT'" id="{{filed.id}}" ng-blur="saveText(filed.id);" value="{{filed.text}}" ng-readonly="filed.text" style="width:{{filed.minWidth}}px;height:{{filed.minHeight}}px;" placeholder="FREE_TEXT">
                            
                        <input type="text" ng-if="filed.fieldType == 'INITIALS'" id="{{filed.id}}" ng-blur="saveText(filed.id);" value="{{filed.text}}" ng-readonly="filed.text" style="width:{{filed.minWidth}}px;height:{{filed.minHeight}}px;" placeholder="INITIALS">
                            
                        <span ng-if="filed.fieldType == 'FILE_UPLOAD'"
                            style="padding: 9px;color: #85c05a;display: block;" >
                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                            <span style="padding-right: 34px;">Upload your Id</span>
                            <button ng-if='!sign.proof'
                                class="btn btn-success"
                                ng-model="sign.proof" 
                                ngf-select
                                accept="image/*">Choose File...
                            </button>
                            <img ng-if='sign.proof' 
                                 ngf-src="sign.proof" 
                                 style="width: auto;height: 35px;">
                            <span ng-if='sign.proof' 
                                ng-click='sign.proof=null' 
                                style="cursor:pointer;background-color: antiquewhite;color: red">X</span>
                        </span>
                        <input type="text" ng-if="filed.fieldType == 'DATE' " id="{{filed.id}}" ng-blur="saveText(filed.id);" ng-model="filedVal[filed.fieldType]" readonly style="width:{{filed.minWidth}}px;height:{{filed.minHeight}}px;">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="parties.length > 0">
        <div class="col-md-10 m-t-lg m-b-lg col-md-offset-1">
            <ul class="list document-party">
                <h5 class="_100 m-b-md">Document Parties</h5>
                <li class="list-item" ng-repeat="party in parties track by $index">
                    <a herf="" class="list-left">
                        <span class="w-40 avatar text-white blue-grey-100">
                  <span style="text-transform:uppercase;">{{party.user.firstName  | cut:true:1}}{{party.user.lastName  | cut:true:1}}</span>
                        <i class="on b-white bottom"></i>
                        </span>
                    </a>
                    <div class="list-body">
                        <div><a href="">{{party.user.firstName}} {{party.user.lastName}}</a></div>
                        <small class="text-muted text-ellipsis">{{party.role}}</small>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
<div id="success" style="display:none; color: green;font-size: 20px;margin-top: 140px;">
    Successfully signed the contract.
</div>
<div id="reject-message" style="display:none; color: red;font-size: 20px;margin-top: 140px;">
    Rejected the contract.
</div>